.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-color: #f3d27ad0;
}

body {
	padding-top: 70px; /* 確保Navbar不會遮住網頁內容 */
}

.underNavbar {
  background-color: white;
  width: 100%;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: monospace;
}

.App-link {
  color: #61dafb;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40rem;
}

.card{
  width: 18rem;
  margin: 10px 10px;
}

.card-body{
  height: 390px;
}

.card-image{
  display: flex;
  justify-content: center;
  width: 286px;
  height: 256px;
}

.custom-button{
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.rounded-circle-small {
  width: 230px;
  height: 230px;
}

.disclaimer {
  font-family: courier;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}


@media (max-width: 400px) {
  .App-header {
    width: 100vw;
  }
  .App-header div {
    max-width: 100vw;
  }
  #aboutMe h5 {
    font-size: 16px;
  }
  #aboutMe h6 {
    font-size: 13px;
  }
  #aboutMe .text-start.fs-6 {
    font-size: 12px  !important;
  }
  .App-header .badge.bg-secondary.d-inline-block {
    margin-left: 5px !important;
  }

/* self summary */
  .App-header img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    margin-left: 15px;
  }
  #selfIntroduction .d-flex.flex-column.justify-content-center {
    justify-content: flex-start !important;
  }
  #selfIntroduction {
    display: flex;
    flex-direction: column;
    height: 400px !important;
  }
  #selfIntroduction .d-flex.flex-column.justify-content-center.align-items-center {
    flex-direction: row !important;
    margin-left: 0px !important;
    margin-bottom: 20px !important;
  }
  #selfIntroduction .col-md-7.d-flex.flex-column.justify-content-center {
    margin-left: 0px !important;
  }


/* projects */
  #secondRowProject {
    margin-top: 0px !important;
  }
  #secondRowProject2 {
    margin-top: 0px !important;
  }
  .my-4 {
    margin-bottom: 0px !important;
  }
}